In [1]:
#importing dependencies
import glob
import pandas as pd

In [2]:
#establishing a base path to read in all csvs
files = glob.glob('C:/Users/abrow/Desktop/EMERSON_BOOTCAMP/BOOTCAMP_AMB/Homeworks/HW13_01-29-22_Tableau_Homework/Tableau-challenge/CitiBike_Data/2017*.csv')

#creating an empty list to store the dataframes
frame = []

#writing a simple loops of what to do with the csvs
for file in files:
    frame.append(pd.read_csv(file))

#Concatenate dataframes into 1
citibike2017_df = pd.concat(frame)

In [3]:
citibike2017_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,195,2017-04-01 00:00:58,2017-04-01 00:04:14,217,Old Fulton St,40.702772,-73.993836,430,York St & Jay St,40.701485,-73.986569,25454,Subscriber,1966.0,1
1,585,2017-04-01 00:01:54,2017-04-01 00:11:40,490,8 Ave & W 33 St,40.751551,-73.993934,3158,W 63 St & Broadway,40.771639,-73.982614,25930,Subscriber,1995.0,1
2,665,2017-04-01 00:01:56,2017-04-01 00:13:01,504,1 Ave & E 16 St,40.732219,-73.981656,412,Forsyth St & Canal St,40.715815,-73.994224,27110,Subscriber,1987.0,1
3,262,2017-04-01 00:02:24,2017-04-01 00:06:47,445,E 10 St & Avenue A,40.727408,-73.981420,411,E 6 St & Avenue D,40.722281,-73.976687,28392,Subscriber,1961.0,1
4,134,2017-04-01 00:02:36,2017-04-01 00:04:50,3423,West Drive & Prospect Park West,40.661063,-73.979453,3300,Prospect Park West & 8 St,40.665147,-73.976376,19316,Subscriber,1967.0,2

In [4]:
#Converting starttime and endtime to datetime to prepare for splitting and inserting into new columns
citibike2017_df['Start Date'] = pd.to_datetime(citibike2017_df['starttime']).dt.date
citibike2017_df['Start Time'] = pd.to_datetime(citibike2017_df['starttime']).dt.time
citibike2017_df['Stop Date'] = pd.to_datetime(citibike2017_df['stoptime']).dt.date
citibike2017_df['Stop Time'] = pd.to_datetime(citibike2017_df['stoptime']).dt.time

In [5]:
# Writing a function to convert tripduration from seconds to hours, minutes, seconds in a new column
def format_duration(row):
    seconds = row.tripduration
    minutes, seconds = divmod(seconds, 60)
    hours, minutes = divmod(minutes, 60)
    return '{:02d} : {:02d} : {:02d}'.format(hours, minutes, seconds)

# applying the function to the dataframe
citibike2017_df['Trip Duration'] = citibike2017_df.apply(format_duration, axis=1)
citibike2017_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Start Date,Start Time,Stop Date,Stop Time,Trip Duration
0,195,2017-04-01 00:00:58,2017-04-01 00:04:14,217,Old Fulton St,40.702772,-73.993836,430,York St & Jay St,40.701485,-73.986569,25454,Subscriber,1966.0,1,2017-04-01,00:00:58,2017-04-01,00:04:14,00 : 03 : 15
1,585,2017-04-01 00:01:54,2017-04-01 00:11:40,490,8 Ave & W 33 St,40.751551,-73.993934,3158,W 63 St & Broadway,40.771639,-73.982614,25930,Subscriber,1995.0,1,2017-04-01,00:01:54,2017-04-01,00:11:40,00 : 09 : 45
2,665,2017-04-01 00:01:56,2017-04-01 00:13:01,504,1 Ave & E 16 St,40.732219,-73.981656,412,Forsyth St & Canal St,40.715815,-73.994224,27110,Subscriber,1987.0,1,2017-04-01,00:01:56,2017-04-01,00:13:01,00 : 11 : 05
3,262,2017-04-01 00:02:24,2017-04-01 00:06:47,445,E 10 St & Avenue A,40.727408,-73.981420,411,E 6 St & Avenue D,40.722281,-73.976687,28392,Subscriber,1961.0,1,2017-04-01,00:02:24,2017-04-01,00:06:47,00 : 04 : 22
4,134,2017-04-01 00:02:36,2017-04-01 00:04:50,3423,West Drive & Prospect Park West,40.661063,-73.979453,3300,Prospect Park West & 8 St,40.665147,-73.976376,19316,Subscriber,1967.0,2,2017-04-01,00:02:36,2017-04-01,00:04:50,00 : 02 : 14

In [ ]:
# Getting length of dataframe
total_rows = citibike2014_df.count()
print(total_rows +1)