In [1]:
# ! pip install --upgrade terality

In [2]:
#importing dependencies
import glob
import pandas as pd
import terality as te
te.configure(
    email="104ambrown@gmail.com",
    api_key="tla_3CNuDbzaRrEKRL3nbSlCurnBqwas23XOUMA3HVNo9a55URJU34UWrZP3m38w0uwlZJ"
)

WARNING:terality:A Terality configuration file is already present at C:\Users\abrow\.terality\config.json.
WARNING:terality:A Terality credentials file is already present at C:\Users\abrow\.terality\credentials.json.
INFO:terality:Terality account successfully configured on this system.

In [3]:
#establishing a base path to read in all csvs
files = glob.glob('C:/Users/abrow/Desktop/EMERSON_BOOTCAMP/BOOTCAMP_AMB/Homeworks/HW13_01-29-22_Tableau_Homework/CitiBike_Data/2014/*.csv')

#creating an empty list to store the dataframes
frame = []

#writing a simple loops of what to do with the csvs
for file in files:
    frame.append(te.read_csv(file))

#Concatenate dataframes into 1
citibike2014_df = te.concat(frame)

C:/Users/abrow/Desktop/EMERSON_BOOTCAMP/BOOTCAMP_AMB/Homeworks/HW13_01-29-22_Tableau_Homework/CitiBike_Data/2014\2014-0
INFO:terality:The result of te.read_csv was retrieved from cache [docs: https://docs.terality.com/getting-terality/user-guide/caching].
C:/Users/abrow/Desktop/EMERSON_BOOTCAMP/BOOTCAMP_AMB/Homeworks/HW13_01-29-22_Tableau_Homework/CitiBike_Data/2014\2014-0
INFO:terality:The result of te.read_csv was retrieved from cache [docs: https://docs.terality.com/getting-terality/user-guide/caching].
C:/Users/abrow/Desktop/EMERSON_BOOTCAMP/BOOTCAMP_AMB/Homeworks/HW13_01-29-22_Tableau_Homework/CitiBike_Data/2014\2014-0
INFO:terality:The result of te.read_csv was retrieved from cache [docs: https://docs.terality.com/getting-terality/user-guide/caching].

In [4]:
citibike2014_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,520,2014-06-01 00:00:02,2014-06-01 00:08:42,358,Christopher St & Greenwich St,40.732916,-74.007114,426,West St & Chambers St,40.717548,-74.013221,18840,Subscriber,1979,1
1,520,2014-06-01 00:00:27,2014-06-01 00:09:07,335,Washington Pl & Broadway,40.729039,-73.994046,265,Stanton St & Chrystie St,40.722293,-73.991475,17442,Customer,\N,0
2,414,2014-06-01 00:00:32,2014-06-01 00:07:26,439,E 4 St & 2 Ave,40.726281,-73.989780,368,Carmine St & 6 Ave,40.730386,-74.002150,16447,Subscriber,1980,1
3,310,2014-06-01 00:00:34,2014-06-01 00:05:44,463,9 Ave & W 16 St,40.742065,-74.004432,380,W 4 St & 7 Ave S,40.734011,-74.002939,18218,Subscriber,1984,1
4,457,2014-06-01 00:00:35,2014-06-01 00:08:12,352,W 56 St & 6 Ave,40.763406,-73.977225,305,E 58 St & 3 Ave,40.760958,-73.967245,18115,Subscriber,1969,1

In [5]:
#Converting starttime and endtime to datetime to prepare for splitting and inserting into new columns
citibike2014_df['Start Date'] = te.to_datetime(citibike2014_df['starttime']).dt.date
citibike2014_df['Start Time'] = te.to_datetime(citibike2014_df['starttime']).dt.time
citibike2014_df['Stop Date'] = te.to_datetime(citibike2014_df['stoptime']).dt.date
citibike2014_df['Stop Time'] = te.to_datetime(citibike2014_df['stoptime']).dt.time

In [ ]:
# Writing a function to convert tripduration from seconds to hours, minutes, seconds in a new column
def format_duration(row):
    seconds = row.tripduration
    minutes, seconds = divmod(seconds, 60)
    hours, minutes = divmod(minutes, 60)
    return '{:02d} : {:02d} : {:02d}'.format(hours, minutes, seconds)

# applying the function to the dataframe
citibike2014_df['Trip Duration'] = citibike2014_df.apply(format_duration, axis=1)
citibike2014_df.head()

In [9]:
# Getting length of dataframe
total_rows = citibike2014_df.count()
print(total_rows +1)

tripduration               2869212
starttime                  2869212
stoptime                   2869212
start station id           2869212
start station name         2869212
start station latitude     2869212
start station longitude    2869212
end station id             2869212
end station name           2869212
end station latitude       2869212
end station longitude      2869212
bikeid                     2869212
usertype                   2869212
birth year                 2869212
gender                     2869212
Start Date                 2869212
Start Time                 2869212
Stop Date                  2869212
Stop Time                  2869212
dtype: int64

In [10]:
citibike2014_df.to_csv_folder(path_or_buf="C:/Users/abrow/Desktop/EMERSON_BOOTCAMP/BOOTCAMP_AMB/Homeworks/HW13_01-29-22_Tableau_Homework/Clean_data/citiBike2014_clean_*.csv",  num_files=3, index=False, header=True, encoding="utf-8")